<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Contetto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FF55B011EB29B2100E7FD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF55B1A1EB29B2100E7FD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FF55B251EB29B2100E7FD52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
